<form action="/cart" method="POST"> <!-- we can pass the data using post request-->
    <button class="btn" type="submit">Add to cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
    <!-- it will pass the value by post request in method-->
</form>